body {
    font-family: 'Roboto';
    height: 100vh;
}

.container {
    display: flex;
    margin-right: auto;
    margin-left: auto;
    padding-left: 19px;
    padding-right: 19px;
    padding-top: 18px;
    height: calc(100vh - 18px);
}

/* Logo */
.logo{
    display: flex;
    margin-left: 8px;
    margin-bottom: 21px;
}

.logo img {
    width: 65px;
    margin-right: 10px;
}

.logo p {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 800;
    font-size: 27px;
    line-height: 25px;
    letter-spacing: 3px;
    color: #000000;
    margin-top: auto;
    margin-bottom: auto;
}

/* HR */
hr {
    margin-bottom: 9px;
    width: calc(100% + 70px);
}

/* MENU */
.menu {
    margin-right: 100px;
    position: fixed;
}
/* Unactive */
.link {
    display: block;
    margin-bottom: 8px;
}

.link_container{
    width: 100%;
    display: flex;
    border-radius: 4px;
    padding: 16px;
}

.link_container p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #000000;
    margin-top: auto;
    margin-bottom: auto;
}

.exit {
    margin-top: 100px;
    cursor: pointer;
}

/* Active */
.active_link {
    pointer-events: none;
}

.active_link_container{
    width: 100%;
    background: #00C2FF;
    display: flex;
    border-radius: 4px;
    padding: 16px;
}

.active_link_container p {
    margin-top: auto;
    margin-bottom: auto;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16.4px;
    line-height: 140%;
    color: #FFFFFF;
}

/* Img */
.link img{
    margin-right: 10px;
}

.home_img {
    width: 33px;
    height: 31px;
}

.adverts_img,
.grades_img,
.teacherList_img,
.timetable_img,
.aboutStudent_img {
    width: 32px;
    height: 32px;
}

/* MAIN */
.main {
    padding-top: 11px;
    margin-left: 360px;
}

.header {
    margin-bottom: 65px;
}

.title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 130%;
    letter-spacing: 0.1px;
    color: #000000;
    margin-bottom: 44px;
}

/* About Student */
.aboutStudent {
    display: flex;
    margin-bottom: 34px;
}

.aboutStudent img{
    margin-right: 20px;
    width: 98px;
    height: 98px;
}

.aboutStudent_text {
    margin-top: auto;
    margin-bottom: auto;
}

.aboutStudent_text p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 130%;
    display: flex;
    align-items: center;
    letter-spacing: 0.1px;
    color: #00AB59;
    margin-bottom: 5px;
}

.aboutStudent .studentName {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 33px;
    display: flex;
    align-items: center;
    color: #000000;
}

/* CONTENT */
.content {
    width: calc(100vw - 550px);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content h2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    /* line-height: 24px; */
    color: #000000;
    margin-bottom: 10px;
}

.dataTitle {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 130%;
    letter-spacing: 0.1px;
    color: #747474;
    margin-bottom: 10px;
}

.data {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 130%;
    text-align: center;
    letter-spacing: 0.1px;
    color: #000000;
    background: #EFE3E3;
    border-radius: 20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 8px;
    padding-bottom: 8px;
    min-width: 110px;
    width: 190px;
    margin-bottom: 16px;
}

.father {
    margin-top: 27px;
}