body {
    font-family: 'Roboto';
    height: 100vh;
}

.container {
    display: flex;
    margin-right: auto;
    margin-left: auto;
    padding-left: 19px;
    padding-right: 19px;
    padding-top: 18px;
    height: calc(100vh - 18px);
}

/* Logo */
.logo{
    display: flex;
    margin-left: 8px;
    margin-bottom: 21px;
}

.logo img {
    width: 65px;
    margin-right: 10px;
}

.logo p {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 800;
    font-size: 27px;
    line-height: 25px;
    letter-spacing: 3px;
    color: #000000;
    margin-top: auto;
    margin-bottom: auto;
}

/* HR */
hr {
    margin-bottom: 9px;
    width: calc(100% + 70px);
}

/* MENU */
.menu {
    margin-right: 100px;
    position: fixed;
}
/* Unactive */
.link {
    display: block;
    margin-bottom: 8px;
}

.link_container{
    width: 100%;
    display: flex;
    border-radius: 4px;
    padding: 16px;
}

.link_container p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #000000;
    margin-top: auto;
    margin-bottom: auto;
}

.exit {
    margin-top: 100px;
    cursor: pointer;
}

/* Active */
.active_link {
    pointer-events: none;
}

.active_link_container{
    width: 100%;
    background: #00C2FF;
    display: flex;
    border-radius: 4px;
    padding: 16px;
}

.active_link_container p {
    margin-top: auto;
    margin-bottom: auto;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16.4px;
    line-height: 140%;
    color: #FFFFFF;
}

/* Img */
.link img{
    margin-right: 10px;
}

.home_img {
    width: 33px;
    height: 31px;
}

.adverts_img,
.grades_img,
.timetable_img,
.teacherList_img,
.aboutStudent_img {
    width: 32px;
    height: 32px;
}

.header {
    display: flex;
    justify-content: space-between;
}

.title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 70px;
    line-height: 22px;
    color: #000000;
    margin-bottom: 70px;
}

.header img {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

/* MAIN */
.main {
    padding-top: 61px;
    margin-left: 380px;
}

.content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 112px;
    grid-row-gap: 52px;
}

.poster p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 114.97%;
    letter-spacing: -0.04em;
    width: 234px;
    margin-left: 5px;
}

.poster p:hover {
    text-decoration: underline;
}

.poster img{
    width: 232px;
    height: 161px;
    cursor: default;
    margin-bottom: 14px;
}