body {
    font-family: 'Roboto';
    height: 100vh;
}

.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 19px;
    padding-right: 19px;
    padding-top: 18px;
    height: calc(100vh - 18px);
}

/* Logo */
.logo{
    display: flex;
    margin-left: 8px;
    margin-bottom: 21px;
}

.logo img {
    width: 65px;
    margin-right: 10px;
}

.logo p {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 800;
    font-size: 27px;
    line-height: 25px;
    letter-spacing: 3px;
    color: #000000;
    margin-top: auto;
    margin-bottom: auto;
}

/* HR */
hr {
    margin-bottom: 9px;
    width: calc(100% + 70px);
}

/* MENU */
.menu {
    margin-right: 100px;
    position: fixed;
}
/* Unactive */
.link {
    display: block;
    margin-bottom: 8px;
}

.link_container{
    width: 100%;
    display: flex;
    border-radius: 4px;
    padding: 16px;
}

.link_container p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #000000;
    margin-top: auto;
    margin-bottom: auto;
}

/* Active */
.active_link {
    pointer-events: none;
}

.active_link_container{
    width: 100%;
    background: #00C2FF;
    display: flex;
    border-radius: 4px;
    padding: 16px;
}

.active_link_container p {
    margin-top: auto;
    margin-bottom: auto;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16.4px;
    line-height: 140%;
    color: #FFFFFF;
}

/* Img */
.link img{
    margin-right: 10px;
}

.home_img {
    width: 33px;
    height: 31px;
}

.adverts_img,
.grades_img,
.timetable_img,
.teacherList_img,
.aboutStudent_img {
    width: 32px;
    height: 32px;
}

/* MAIN */
.main {
    padding-top: 11px;
    margin-left: 320px;
    height: calc(100% - 100px);
}

.header {
    display: flex;
    margin-bottom: 35px;
    margin-left: 40px;
}

.title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 70px;
    line-height: 22px;
    color: #000000;
    margin-bottom: auto;
    margin-top: auto;
    margin-right: 290px;
}

/* About Student */
.aboutStudent {
    display: flex;
}

.aboutStudent img{
    margin-right: 20px;
    width: 98px;
    height: 98px;
}

.aboutStudent_text {
    margin-top: auto;
    margin-bottom: auto;
}

.aboutStudent_text p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 130%;
    display: flex;
    align-items: center;
    letter-spacing: 0.1px;
    color: #00AB59;
    margin-bottom: 5px;
}

.aboutStudent .studentName {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 33px;
    display: flex;
    align-items: center;
    color: #000000;
}

/* TABLE */
.content {
    overflow-y:scroll;
    height: 75%;
}

th {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #333333;
    background: #EEEEEE;
    text-align: left;
    padding: 8px;
    /* padding-right: 60px; */
}

th:not(:last-child) {
    border-right: 0.1px white solid;
}

.subjects {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 150%;
    color: #333333;
    padding: 12px;
    cursor: pointer;
}

.subjects:hover {
    color: #000000;
    text-decoration:underline;
}

.ocena {
    display: flex;
    flex-wrap: wrap;
    width: 400px;
}

.point {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    line-height: 110%;
    color: #FFFFFF;
    width: 13px;
    height: 13px;
    padding: 5px;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 10px;
    margin-bottom: 5px;
    cursor: pointer;
}

.point:first-child {
    margin-left: 10px;
}

.end_th {
    text-align: center;
}

.end {
    background-color: #B0C4DE;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    line-height: 110%;
    color: #FFFFFF;
    width: 13px;
    height: 13px;
    padding: 5px;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 5px;
    cursor: pointer;
}

.rokOcena {
    width: 35px;
}

.rok {
    background-color: #5FC5FF;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    line-height: 110%;
    color: #FFFFFF;
    width: 13px;
    height: 13px;
    padding: 5px;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 5px;
}

.footer {
    margin-left: 380px;
    height: 60px;
}

.footer h2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    letter-spacing: 0.1px;
    color: #000000;
    margin-bottom: 8px;
}

form {
    display: flex;
}

select {
    width: 140px;
    height: 30px;
    padding: 3px;
    margin-left: 5px;
    padding-left: 8px; 
    border-radius:4px;
    box-shadow: 2px 2px 8px #999;
    background: #eee;
    border: none;
    outline: none;
    display: inline-block;
    -webkit-appearance:none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
}
label {
    position: relative;
    font-size: 13px;
    display: flex;
    margin-right: 30px;
}

label h3 {
    margin-bottom: auto;
    margin-top: auto;
}

label:after {
    content:'<>';
    font: 11px "Consolas", monospace;
    color: #666;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    right: 8px; 
    top:7px;
    padding: 0 0 2px;
    border-bottom: 1px solid #ddd;
    position: absolute;
    pointer-events: none;
}
label:before {
    content: '';
    right: 6px; 
    top:2px;
    width: 20px; 
    height: 20px;
    background: #eee;
    position: absolute;
    pointer-events: none;
    display: block;
}

.btn{
    font-family: Roboto, sans-serif;
    font-weight: 0;
    font-size: 14px;
    color: #fff;
    background-color: #7a7a7a;
    padding: 5px 20px;
    border: 2px solid #7a7a7a;
    box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
    border-radius: 11px;
    transition : 1000ms;
    transform: translateY(0);
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    margin-right: 10px;
}

.btn:hover{
    transition : 1000ms;
    transform : translateY(-0px);
    background-color: #fff;
    color: #0066cc;
    border: solid 2px #0066cc;
}

/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #b7b2b8 #ffffff;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 12px;
  }

  *::-webkit-scrollbar-track {
    background: #ffffff;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #b7b2b8;
    border-radius: 10px;
    border: 4px solid #ffffff;
  }