body {
    font-family: 'Roboto';
    height: 100vh;
}

.container {
    display: flex;
    margin-right: auto;
    margin-left: auto;
    padding-left: 19px;
    padding-right: 19px;
    padding-top: 18px;
    height: calc(100vh - 18px);
}

/* Logo */
.logo{
    display: flex;
    margin-left: 8px;
    margin-bottom: 21px;
}

.logo img {
    width: 65px;
    margin-right: 10px;
}

.logo p {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 800;
    font-size: 27px;
    line-height: 25px;
    letter-spacing: 3px;
    color: #000000;
    margin-top: auto;
    margin-bottom: auto;
}

/* HR */
hr {
    margin-bottom: 9px;
    width: calc(100% + 70px);
}

/* MENU */
.menu {
    margin-right: 100px;
}
/* Unactive */
.link {
    display: block;
    margin-bottom: 8px;
}

.link_container{
    width: 100%;
    /* background: #00C2FF; */
    display: flex;
    border-radius: 4px;
    padding: 16px;
}

.link_container p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #000000;
    margin-top: auto;
    margin-bottom: auto;
}

/* Active */
.active_link {
    pointer-events: none;
}

.active_link_container{
    width: 100%;
    background: #00C2FF;
    display: flex;
    border-radius: 4px;
    padding: 16px;
}

.active_link_container p {
    margin-top: auto;
    margin-bottom: auto;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16.4px;
    line-height: 140%;
    color: #FFFFFF;
}

/* Img */
.link img{
    margin-right: 10px;
}

.home_img {
    width: 33px;
    height: 31px;
}

.adverts_img,
.grades_img,
.warnings_img,
.timetable_img,
.teacherList_img,
.aboutStudent_img,
.aboutSchool_img {
    width: 32px;
    height: 32px;
}

/* Main */
.main {
    padding-top: 20px;
    margin-left: 35px;
}

.title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 96px;
    line-height: 120%;
    color: #2B2B2B;
    margin-bottom: 22px;
}

/* About Student */
.aboutStudent {
    display: flex;
    margin-bottom: 35px;
}

.aboutStudent img{
    margin-right: 20px;
    width: 98px;
    height: 98px;
}

.aboutStudent_text {
    margin-top: auto;
    margin-bottom: auto;
}

.aboutStudent_text p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 130%;
    display: flex;
    align-items: center;
    letter-spacing: 0.1px;
    color: #00AB59;
    margin-bottom: 5px;
}

.aboutStudent .studentName {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 33px;
    display: flex;
    align-items: center;
    color: #000000;
}

/* About Diary */
.aboutDiary {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 200;
    font-size: 22px;
    line-height: 120%;
    color: #000000;
    margin-left: 67px;
    margin-bottom: 40px;
}

.info {
    display: flex;
    width: calc(100% + 40px);
    justify-content: space-between;
    margin-bottom: 60px;
}

.info ul li {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 200;
    font-size: 24px;
    line-height: 120%;
    margin-left: 100px;
}

.info img {
    width: 206px;
    height: 206px;
}

/* Autor */
.autor {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 100;
    font-size: 20px;
    line-height: 120%;
    float: right;
}