body {
    font-family: 'Roboto';
    height: 100vh;
}

.container {
    display: flex;
    margin-right: auto;
    margin-left: auto;
    padding-left: 19px;
    padding-right: 19px;
    padding-top: 18px;
    height: calc(100vh - 18px);
}

/* Logo */
.logo{
    display: flex;
    margin-left: 8px;
    margin-bottom: 21px;
}

.logo img {
    width: 65px;
    margin-right: 10px;
}

.logo p {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 800;
    font-size: 27px;
    line-height: 25px;
    letter-spacing: 3px;
    color: #000000;
    margin-top: auto;
    margin-bottom: auto;
}

/* HR */
hr {
    margin-bottom: 9px;
    width: calc(100% + 70px);
}

/* MENU */
.menu {
    margin-right: 100px;
    position: fixed;
}
/* Unactive */
.link {
    display: block;
    margin-bottom: 8px;
}

.link_container{
    width: 100%;
    display: flex;
    border-radius: 4px;
    padding: 16px;
}

.link_container p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #000000;
    margin-top: auto;
    margin-bottom: auto;
}

.exit {
    margin-top: 100px;
    cursor: pointer;
}

/* Active */
.active_link {
    pointer-events: none;
}

.active_link_container{
    width: 100%;
    background: #00C2FF;
    display: flex;
    border-radius: 4px;
    padding: 16px;
}

.active_link_container p {
    margin-top: auto;
    margin-bottom: auto;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16.4px;
    line-height: 140%;
    color: #FFFFFF;
}

/* Img */
.link img{
    margin-right: 10px;
}

.home_img {
    width: 33px;
    height: 31px;
}

.adverts_img,
.grades_img,
.teacherList_img,
.timetable_img,
.aboutStudent_img {
    width: 32px;
    height: 32px;
}

/* MAIN */
.main {
    padding-top: 11px;
    margin-left: 310px;
}

.header {
    display: flex;
    margin-bottom: 65px;
}

.title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 70px;
    line-height: 22px;
    color: #000000;
    margin-bottom: auto;
    margin-top: auto;
    margin-right: 250px;
    margin-left: 30px;
}

/* About Student */
.aboutStudent {
    display: flex;
}

.aboutStudent img{
    margin-right: 20px;
    width: 98px;
    height: 98px;
}

.aboutStudent_text {
    margin-top: auto;
    margin-bottom: auto;
}

.aboutStudent_text p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 130%;
    display: flex;
    align-items: center;
    letter-spacing: 0.1px;
    color: #00AB59;
    margin-bottom: 5px;
}

.aboutStudent .studentName {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 33px;
    display: flex;
    align-items: center;
    color: #000000;
}

/* TABLE */
.content {
    height: 63%;
    overflow-y: scroll;
}

th {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #333333;
    background: #EEEEEE;
    text-align: left;
    padding: 8px;
    /* padding-right: 60px; */
}

th:not(:last-child) {
    border-right: 0.1px white solid;
}

.info {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #333333;
    padding-left: 10px;
    width: 200px;
}

.nr {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 150%;
    text-align: center;
    color: #333333;
    padding: 8px;
}

.footer {
    margin-top: 50px;
}

.footer p {
    float: right;
}

.footer a {
    text-decoration: underline;
}

/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #b7b2b8 #ffffff;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 12px;
  }

  *::-webkit-scrollbar-track {
    background: #ffffff;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #b7b2b8;
    border-radius: 10px;
    border: 4px solid #ffffff;
  }